<!--Login-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center ">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Vous voulez participer à ce blog ?</h2>
                <div class="col-md-12">
                    <a class="btn btn-body m-4" href="./enregistrement">Enregistrez vous !</a>
                </div>
                <span class="text-light m-4 col-md-12"> ou 
                <div class="col-md-12">
                    <a class="btn btn-body m-4" href="./login">Connectez vous !</a>
                </div>
            </div>
        </div>
    </div>
</section>
