<!-- Projects-->
<section class="p-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-5 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" 
                     src="./public/assets/img/luttes-enchantees.jpg" 
                     alt="Image de la page d'accueil du site Luttes Enchantées" />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center">
                    <h4>Luttes Enchantées</h4>
                    <p class="text-black-50 mb-0">Entre mes 2 formations j'ai créé un site web pour une chorale, 
                    <a href="https://luttesenchantees35.fr/" target="_blank">Luttes Enchantées</a>. Si la partie 
                    publique est assez classique, c'est la partie réservée aux membres qui est intéressante! Je la 
                    présenterais dans un futur article. A suivre !</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" 
                     src="./public/assets/img/accou-ferme.jpg"
                     alt="Image de la page d'accueil du site Accou'ferme" />
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center">
                            <h4 class="text-white">Accou'ferme</h4>
                            <p class="mb-0 text-white-50">Projet de fin de formation Bac+2 "Développeuse Web et Web 
                            mobile, j'ai réalisé ce site d'après la demande d'une personne qui a pour projet de 
                            s'installer comme maraîcher Bio. Le site reste pour l'instant en l'état mais il a vocation 
                            à être mis en ligne dans quelque temps.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" 
                     src="./public/assets/img/chalets-et-caviar.jpg" 
                     alt="Image de la page d'accueil du site Chalets et Caviar" />
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center">
                            <h4 class="text-white">Chalets et Caviar</h4>
                            <p class="mb-0 text-white-50">Autre exemple de projet de formation, le site Chalets et 
                            Caviar, exercice réalisé au début de ma formation actuel, avec WordPress. Ce projet m'a 
                            permis de prendre ce CMS en main.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
