<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Développeuse d'applications web</h2>
                <p class="text-white-50">
                    Après avoir fait une formation de "Developpeuse Web et Web mobile", je poursuis ma reconversion, 
                    par la formation Bac +3 "Développeuse d'applications PHP/Symfony", chez 
                    <a href="https://openclassrooms.com/fr/" target="_blank" title="lien vers OpenClassrooms">
                    OpenClassrooms</a>. Sur ce blog je présente des projets perso et des projets de formation.</p>
                <p class="text-white-50">Pour consulter mon CV c'est <a href="./public/assets/img/cv2023.pdf" target="_blank">ici</a>, et pour voir mon code c'est <a href="https://github.com/Marine-Sanson" target="_blank">là</a>.
            </div>
        </div>
    </div>
</section>
