<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Région</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Rennes métropole</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="mailto:marine.dev.35@gmail.com">marine.dev.35@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fab fa-github text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">GitHub</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="https://github.com/Marine-Sanson" target="_blank">Par ici</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://linkedin.com/in/marine-sanson-289942211" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a class="mx-2" href="https://github.com/Marine-Sanson" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
