{% extends "base.html.twig" %}

{% block body %}

<section class="blackground">
    <div class="scales">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 bg-light bg-opacity-50 rounded more-space">
                    <h1 class="text-center font-weight-bold text-primary mt-4">Contactez moi</h1>
                    <hr class="bg-light">
                    <h5 class="text-center text-success"></h5>
                    <form action="" method="post" id="form-box" class="p-2">
                        <input type="hidden" id="contactAction" name="action" value="contact">
                        <input type="hidden" id="tokenContactForm" name="token" value="###">
                        <div class="form-group input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user text-primary"></i></span>
                            </div>
                            <input type="text" name="firstName" class="form-control" placeholder="Entrez votre prénom" required>
                        </div>
                        <div class="form-group input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-user text-primary"></i></span>
                            </div>
                            <input type="text" name="name" class="form-control" placeholder="Entrez votre nom" required>
                        </div>
                        <div class="form-group input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope text-primary"></i></span>
                            </div>
                            <input type="email" name="email" class="form-control" placeholder="Entrez votre email" required>
                        </div>
                        <div class="form-group input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-comment-alt text-primary"></i></span>
                            </div>
                            <textarea name="content" id="content" class="form-control" placeholder="Laissez moi un message" cols="30" rows="4" required></textarea>
                        </div>
                        <div class="form-group d-flex">
                            <div class="mx-auto my-4">
                                <input type="submit" id="contactSubmit" class="btn btn-body btn-block" value="Envoyer">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center mt-5">
                    <p class="text-success font-weight-bold fs-4 bg-white bg-opacity-25 rounded">{{ result.message }}</p>
                    <p class="text-danger font-weight-bold fs-4 bg-white bg-opacity-75 rounded">{{ result.error }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
