{% extends "base.html.twig" %}
{% block body %}
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Développeuse d'applications web</h2>
                <p class="text-white-50">
                    Après avoir fait une formation de "Developpeuse Web et Web mobile", je poursuis ma reconversion, 
                    par la formation Bac +3 "Développeuse d'applications PHP/Symfony", chez 
                    <a href="https://openclassrooms.com/fr/" target="_blank" title="lien vers OpenClassrooms">
                    OpenClassrooms</a>. Sur ce blog je présente des projets perso et des projets de formation.</p>
                <p class="text-white-50">Pour consulter mon CV c'est <a href="./src/assets/img/cv2023.pdf" target="_blank">ici</a>, et pour voir mon code c'est <a href="https://github.com/Marine-Sanson" target="_blank">là</a>.
            </div>
            <div class="scales justify-content-center"></div>
        </div>

    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-5 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" 
                     src="./src/assets/img/luttes-enchantees.jpg" 
                     alt="Image de la page d'accueil du site Luttes Enchantées" />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Luttes Enchantées</h4>
                    <p class="text-black-50 mb-0">Entre mes 2 formations j'ai créé un site web pour une chorale, 
                    <a href="https://luttesenchantees35.fr/" target="_blank">Luttes Enchantées</a>. Si la partie 
                    publique est assez classique, c'est la partie réservée aux membres qui est intéressante! Je la 
                    présenterais dans un futur article. A suivre !</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" 
                     src="./src/assets/img/accou-ferme.jpg"
                     alt="..." />
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center 
                                    text-lg-left">
                            <h4 class="text-white">Accou'ferme</h4>
                            <p class="mb-0 text-white-50">Projet de fin de formation Bac+2 "Développeuse Web et Web 
                            mobile, j'ai réalisé ce site d'apères la demande d'une personne qui a pour projet de 
                            s'installer comme maraîcher Bio. Le site reste pour l'instant en l'état mais il a vocation 
                            à être mis en ligne dans quelque temps.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" 
                     src="./src/assets/img/chalets-et-caviar.jpg" 
                     alt="Image de la page d'accueil du site Chalets et Caviar" />
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center 
                                    text-lg-right">
                            <h4 class="text-white">Chalets et Caviar</h4>
                            <p class="mb-0 text-white-50">Autre exemple de projet de formation, le site Chalets et 
                            Caviar, exercice réalisé au début de ma formation actuel, avec WordPress. Ce projet m'a 
                            permis de prendre ce CMS en main.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<!--This section will be replace later by a contact form-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Email address input-->
                    <div class="row input-group-newsletter">
                        <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                        <div class="col-auto"><button class="btn btn-body disabled" id="submitButton" type="submit">Notify Me!</button></div>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2 text-white">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Région</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Rennes métropole</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="mailto:marine.dev.35@gmail.com">marine.dev.35@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fab fa-github text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">GitHub</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="https://github.com/Marine-Sanson" target="_blank">Par ici</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://linkedin.com/in/marine-sanson-289942211" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a class="mx-2" href="https://github.com/Marine-Sanson" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
{% endblock %}
