{% extends "base.html.twig" %}

{% block body %}

<!-- Signup-->
<section class="blackground">
    <div class="signup-section scales mx-auto" id="signup">
        <div class="container p-4 p-lg-5 mx-auto my-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="fa-solid fa-arrow-right-to-bracket fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Connectez-vous</h2>
                    <form class="form-signup"
                        id="connect"
                        action="./login"
                        method="post">
                        <input type="hidden" id="connectionAction" name="action" value="connection">

                        <div class="row input-group-newsletter">
                            <div class="col my-2">
                                <input class="form-control" type="text" id="usernameForConnection" name="username" placeholder="Nom d'utilisateur...">
                            </div>

                            <div class="col my-2">
                                <input class="form-control" type="password" id="password" name="password" placeholder="Mot de passe...">
                            </div>

                            <div class="col-auto my-2">
                                <input id="submitButton" class="btn btn-body" type="submit" value="Me connecter">
                            </div>
                        </div>
                    </form>
                    <div class="text-center mt-5">
                        <p class="text-success font-weight-bold fs-4 bg-white bg-opacity-25 rounded">{{ message }}</p>
                        <p class="text-danger font-weight-bold fs-4 bg-white bg-opacity-75 rounded">{{ error }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
